<section id="feature-news-card" class="mb-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
    <app-feature-news-item></app-feature-news-item>
    <app-feature-news-item></app-feature-news-item>
    <app-feature-news-item></app-feature-news-item>
    <app-feature-news-item></app-feature-news-item>
    <app-feature-news-item></app-feature-news-item>
    <app-feature-news-item></app-feature-news-item>
    <app-feature-news-item></app-feature-news-item>
    <app-feature-news-item></app-feature-news-item>
  </div>
</section>
