<div class="col">
  <div class="card shadow-sm">
    <img src="http://placeimg.com/640/360/any" class="card-img-top" alt="http://placeimg.com/640/360/any">
    <div class="card-body">
      <h5 class="card-title">News title</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore
        magna aliqua. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Tincidunt arcu non
        sodales
        neque sodales ut etiam.
      </p>
      <a routerLink="news/1" class="card-link floa">read more</a>
    </div>
  </div>
</div>
