<section id="archive-news-card" class="mb-3">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Tincidunt arcu non
            sodales
            neque sodales ut etiam.
          </p>
          <a routerLink="news/1" class="card-link floa">Card link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Tincidunt arcu non
            sodales
            neque sodales ut etiam.
          </p>
          <a routerLink="news/1" class="card-link">Card link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Tincidunt arcu non
            sodales
            neque sodales ut etiam.
          </p>
          <a routerLink="news/1" class="card-link">Card link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Tincidunt arcu non
            sodales
            neque sodales ut etiam.
          </p>
          <a routerLink="news/1" class="card-link floa">Card link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Tincidunt arcu non
            sodales
            neque sodales ut etiam.
          </p>
          <a routerLink="news/1" class="card-link">Card link</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Tincidunt arcu non
            sodales
            neque sodales ut etiam.
          </p>
          <a routerLink="news/1" class="card-link">Card link</a>
        </div>
      </div>
    </div>
  </div>
</section>
